[Unit]
Description=Logs location of clients
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /root/server.py
Restart=always

[Install]
WantedBy=multi-user.target
